<!DOCTYPE html>
<html>
    <head>
        <title>Train</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <div id="layout"></div>
        <script type="text/javascript" src="/static/js/raphael-min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script type="text/javascript" src="/static/js/reconnecting-websocket.js"></script>
        <script type="text/javascript" src="/static/js/train.js"></script>
    </body>
</html>
